/*! HTML5 Boilerplate v7.2.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/******************Global Styles *******************/

html{
  font-size:16px;
}

body{
  color:#e7eff6;
}

.content-wrapper{
  width:90%;
  margin:50px 0;
}

ul {
  font-family:"Roboto", sans-serif;
  list-style:none;
  padding:0;
  text-transform: uppercase;
}

/*figure  {
  width:100%;
}*/

img{
  width:100%;
}

a{
  font-family:"Roboto", sans-serif;
  /*font-size:1.25rem;*/
  text-decoration: none;
  /*font-variant: small-caps;*/
  color:#e7eff6;
}

h1{
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-size:1.25rem;
  margin:0 0 200px 0;
}

h2{
  font-family:"Roboto", sans-serif;
  font-size:1.875em;
  margin:0;
}

h3{
  font-family:"Roboto", sans-serif;
  font-size:1.5em;
  margin:0;
}


p{
  font-family: "Merriweather", serif;
  font-size:1em;
  line-height:1.5rem;
  font-weight:300;
  margin:15px 0;
}

img{}

figure{}

address{
  font-family: "Meriweather", serif;
  font-style: normal;
}


/************* Header - Mobile ***************/

header  {
  background:#03396c;    
  display:flex;
  justify-content:center;
  align-items:center;
  flex-flow:row wrap;
  padding:15px 0;
}

header .content-wrapper {
  display:flex;
  justify-content:center;
  align-items:center;
  flex-flow:row wrap;
  margin:0;
}

.logo a{
  font-family:"Roboto", sans-serif;
  font-size:1.25rem;
  font-weight:300;
  font-variant: small-caps;
  
}
.header-divider {
  height:1px;
  background:#adcbe3;
  width:100%;
  margin:10px 0 15px;
}

header nav  {
  display:flex;
  justify-content:center;
  align-items:center;
  flex-flow:row wrap;
  width:60%;
}

header nav ul{
  display:flex;
  justify-content:space-around;
  align-items:center;
  flex-flow:row wrap;
  width:100%;
  margin:10px 0;
}

header nav ul li  a {
 color:#e7eff6;
}

/*############## Home - Mobile ############*/

/*********Hero - Home - Mobile *************/

.hero-area  {
  background:url('../img/hero.jpg') center no-repeat;
  background-size: cover;
  /***Img will go here*/
  display:flex;
  justify-content:center;
  align-items: baseline;
  flex-flow:row wrap;
 /* width:100%;
  min-height:500px;*/
}

.hero-area .content-wrapper {
  margin:10px 0;
}


/*********Aside - Home - Mobile ************/

aside{
  background:#63ace5;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-flow:row wrap;
}

aside h3{
  margin-bottom:15px;
}
.form-description{
  margin-bottom:15px;
}


input{
  font-family:"Roboto", sans-serif;
}

input[type=text] {
  box-sizing:border-box;
  width:100%;
  height:50px;
  font-style:italic;
}

input[type=button]  {
  width:100%;
  padding:15px 0;
  margin-top:15px;
  background:#005b96;
  color:#e7eff6;
  font-weight:400;
  font-size:1.125em;
  border:none;
  text-align:center;
  text-transform:uppercase;
}


/*********Features - Home - Mobile ************/

.features {
  background: url('../img/features-bkgd.jpg') center no-repeat;
  background-size: cover;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-flow:row wrap;
}
.feature-icon {
  font-size:4rem;
  margin-bottom:25px;
}


.feature-items{
  display:flex;
  justify-content:center;
  align-items:center;
  flex-flow:row wrap;
}

.features article{
  width:55%;
  margin:10px 0;
  text-align:center;
}

.features-description p{
  margin:0;
}

/*********Features - Home - Mobile ************/

.reviews  {
  background:#005b96;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-flow: row wrap;
}

.review-img {
  width:auto;
  height:auto;
  margin:20px 0 20px;
}

.review-text h3  {
  width: 75%;
}

/*_______________Footer - Mobile __________________*/

footer{
  background:#03396c; 
  display:flex;
  justify-content:center;
  align-items:center;
  flex-flow:row wrap;
}

footer .content-wrapper{
  width:70%;
  margin:50px 0;
}
footer p{
  margin:0;
}

.contact  {
  text-align:center;
  margin:15px 0;
}

.social {
  display:flex;
  justify-content:center;
  align-content:center;
  flex-flow:row wrap;
  margin:25px 0;}

.social-icons {
  display:flex;
  justify-content:center;
  align-items:center;
  flex-flow:row wrap;
  width:100%;
}
.social-icons p {
  font-size:2rem;
  margin:20px 0 0;
}

.copyright  {
  width:100%;
  text-align:center;
  padding:10px 0 30px 0;
}

.copyright p {
  font-family: "Roboto", sans-serif;
  font-size:1em;
  font-weight:700;
}

/*############## About - Mobile ############*/

/******Mission******/

.mission  {
  background:#63ace5;
  display:flex;
  justify-content: center;
  align-items:center;
  flex-flow:row wrap;
}

.light-text {
  font-weight:300;
}
.mission h2 {
  font-weight:400;
}



/*******Map*******/


.map figure {
  width:100%;
  height:0;
  padding-bottom:80%;
  overflow:hidden;
  position:relative;
  margin:0;
}

.map iframe {
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
}

/*******Contact Info*******/

.contact-info {
  background:#005b96;
  display:flex;
  justify-content: center;
  align-items:center;
  flex-flow:row wrap;
}

.contact-content{
  margin:25px 0;
}

.contact-info h3{
  margin:15px 0 0 0;

}

/*############## FAQ - Mobile ############*/

.faq  {
  background:#63ace5;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-flow:row wrap;
}

.faq-content  {
  margin:0 0 50px;
}

.faq h2 {
  margin:0 0 25px 0;
  font-weight:normal;
  width:100%;
  font-size:2rem;
}

.faq h3 {
  font-weight:lighter;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

/*@@@@@@@@@@@@@@@Tablet Styles@@@@@@@@@@@@@@@@*/

@media only screen and (min-width:768px)  {


  /*-------------Tablet Global Styles ----------*/

  html {
    
  }

  body {}

  .content-wrapper{
    max-width:640px;
  }

  .logo a{
    font-size:2em;
  }
  



  /*############## Home - Tablet ###############*/


  /************** Header - Tablet ***************/

  header .content-wrapper{
    flex-flow: row nowrap;
    justify-content: space-between;
  }

  .header-divider{
    display:none;
  }

  header nav {
    width:20%;
  }

  /************** Hero - Tablet *****************/

  .hero-area{
    min-height:700px;
  }

  .hero-area h1 {
    font-size:2.25rem;
    margin:30px 0;
  }
  /*************** Form - Tablet ****************/

  aside .form-description{
    width:40%;
  }

  aside .form {
    width:40%;
  }

  aside .content-wrapper{
    display:flex;
    justify-content: space-between;
    align-items:baseline;
  }

  /************* Features - Tablet **************/

  
  .features .content-wrapper  {
    display:flex;
    justify-content: center;
    align-items:center;
    width:100%;
    flex-flow:row wrap;
  }

  .features h2  {
    width:100%;
  }

  .feature-items {
    width:80%;
    justify-content: space-between;
    align-items: baseline;
  }

  .features article {
    display:flex;
    justify-content:center;
    flex-basis:40%;
    align-items:center;
    flex-flow:column wrap;
  }

  .features article p {
    width:75%;
  }
  


  /************** Review - Tablet ***************/

  .reviews .content-wrapper{
    width:100%;
    display:flex;
    justify-content:space-between;
    align-content:baseline;
    flex-flow:row wrap;
  }

  .reviews .content-wrapper h2 {
    margin:0;
    width:80%;
    margin-bottom:20px;
  }

  .review-img{
    width:48%;
    margin:0;
  }

  .review-text  {
    width:48%;
  }

  .review-text h3 {
    margin:0;
  }

  .review-text p{
    margin:10px 0 0 0 ;
  }

  /************** Footer - Tablet ***************/

  footer {
    display:flex;
    justify-content: center;
    align-items:center;
    flex-flow: row wrap;
    width:100%;
  }
  .footer-content {
    display:flex;
    justify-content: space-around;
    align-items: center;
  }

  .contact{
    width:45%;
  }

  .social{
    width:45%;
  }
  
  footer .content-wrapper{
    width:80%;
    display:flex;
    justify-content: center;
    align-items:center;
    flex-flow: row wrap;
  }

  .footer-content{
    width:90%;
    justify-content:space-between;
    align-items:baseline;
  }
  .social-icons {
    width:100%
  }

  .copyright  {
    width:100%;
    text-align:center;
  }

  /*############## About - Tablet ##############*/



  /************* Mission - Tablet ***************/
  
  .mission-content{
    display:flex; 
    justify-content:space-between;
    align-items: center;
    flex-flow:row;
  }

  .mission-content p {
    width: 45%;
  }



  /************* Map- Tablet ********************/

  .map figure{
    padding-bottom:45%;
  }



  /************* Contact - Tablet ***************/

  .contact-content{
    display:flex;
    justify-content: space-between;
    align-items: baseline;
    flex-flow:row;
  }

  /*.general-info {
    width:45%;
  }

  .contact-crew{
    width:45%;
  }*/


  /*############## FAQ - Tablet ################*/

  /************* FAQ Content- Tablet ************/

  .faq .content-wrapper {
    display:flex;
    justify-content: space-between;
    align-content:center;
    flex-flow:row wrap;
  }

  .faq-content{
    flex-basis:40%;
  }
  
  
}
  /*<----------- End Tablet Styles *******/


/*@@@@@@@@@@@@@@@Desktop Styles@@@@@@@@@@@@@@@@*/
@media only screen and (min-width:1200px) {



  /*-------------Desktop Global Styles ----------*/

  .content-wrapper{
    max-width:960px;
  }


  /*############## Home - Desktop ###############*/


  /************** Header - Desktop ***************/

  /************** Hero - Desktop *****************/

  .hero-area{
    min-height:700px;
  }

  .hero-area h1{
    font-size:3rem;
  }
  /*************** Form - Desktop ****************/

  
  aside .form-description  {
    width:33%;
  }

  aside .form{
    width:33%;
  }


  /************* Features - Desktop **************/

  .features article{
    flex-basis:33%;
  }


  /************** Review - Desktop ***************/

  /************** Footer - Desktop ***************/



  /*############## About - Desktop ##############*/

  /************* Mission - Desktop ***************/

  /************* Map- Desktop *******************/
  .map figure{
    padding-bottom:37.5%;
  }

  /************* Contact - Desktop ***************/



  /*############## FAQ - Desktop ################*/

  /************* FAQ Content- Desktop ************/

  .faq-content{
    flex-basis:45%;
  }


}/*<---------End Desktop Styles ----------*/





  
    



/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

